! Configuration File for keepalived

global_defs {
   notification_email {
   }
   router_id kube_api_backup
}

vrrp_script check_k8s {
    # 自身状态检测
    script "/etc/keepalived/check_apiserver.sh"
    interval 2
    weight -5
    fall 3  
    rise 2
}

vrrp_instance ha-vip {
    # 使用单播通信，默认是组播通信
    unicast_src_ip {{ SRC_IP }}
    unicast_peer {
        {{ PEER_IP }}
    }
    # 初始化状态
    state BACKUP
    # 虚拟ip 绑定的网卡
    interface {{ LB_IF }}
    # 此ID 要与Backup 配置一致
    virtual_router_id {{ ROUTER_ID }}
    # 默认启动优先级，要比Master小点，但要控制量，保证自身状态检测生效
    priority 99
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        # 虚拟ip 地址，注意后面的掩码位数
        {{ MASTER_IP }}/24
    }
    track_script {
        check_k8s
    }
}
